<div class="row">

  <div class="col-xl-4">
    <%= image_tag("selfie.jpg", class: 'img-fluid', id: 'bio-pic') %>
  </div>
  <div class="col-xl-8 bio">
    <blockquote class="blockquote">
      <h4 >BIO:</h4>
      <p>
      Ms. Joey Michalina Mariano is a Philadelphia based coder, musician, and artist.  With twenty years of education experience she has sought to spread creativity and purpose through art.  Both her art and music have always delt with contemporary ideas felt through the lense of technology.  Originally she incorporated her technology interests with art and now it is a life long passion.
      </p>
    </blockquote>
  </div>
</div>
