<div class="row">

  <div class="col-xl-4 col-lg-4 col-md-6">
    <%= image_tag("selfie.jpg", class: 'img-fluid', id: 'bio-pic') %>
        <br></br>
  </div>
  <div class="col-xl-8 col-lg-8 col-md-12 bio">
    <blockquote class="blockquote last-blockquote">
      <h3><span>BIO</span></h3>
      <p>
      Ms. Joey Michalina Mariano is a Philadelphia based coder, musician, and artist.
      </p>
      <p>
        Joey is <a href="https://cheapdinosaurs.bandcamp.com" target="_blank">Cheap Dinosaurs</a>' guitarist and her electronic work is widely know under the alias <a href="https://www.nmlstyl.com" target="_blank">nmlstyl</a>.  She also creates soundtracks that can be heard in various video games and digital media.
      </p>
      <p>
        Mariano's art has been show <a href="http://we-make-money-not-art.com/playlist_when_video_game_gets/" target="_blank">throughout Europe</a> and in select exhibits in the United States.
      </p>
      <p>
        Originally influenced by <a href="https://en.wikipedia.org/wiki/Chiptune" target="_blank">chip music</a>'s visualist culture, she started coding for hardware hacking projects and to create moving art for music performances.  She currently works as a freelance Full Stack Developer and as a composer / guitarist.
      </p>
    </blockquote>
  </div>
</div>
