<div class="row">
    <div class="col-sm-10">
      <blockquote>
        <h4><a href="https://github.com/joeymariano" target="_blank">My Github</a></h4>
      </blockquote>

      <blockquote>
        <h4><a href="http://show-finder.com" target="_blank">Show-Finder.com</a> -
          <a href="https://github.com/joeymariano/show-finder" target="_blank">github repo</a></h4>
        <p>Queries <a href="http://songkick.com" target="_blank">songkick.com</a> and <a href="http://bandsintown.com" target="_blank">bandsintown.com</a> for concert listings</p>
        <p>+ separate rails API backend and react.js frontend</p>
        <p>+ utilizes redux, redux-thunk middleware, react-cookie, and react-router</p>
        <p>+ postgres database to store rails model information and to be compliant with heroku’s database preference</p>
        <p>+ deployed to heroku in a way that will avoid all CORS errors</p>
      </blockquote>

      <blockquote>
        <h4><a href="https://www.patchshair.com" target="_blank">PatchShair.com</a> -
          <a href='https://github.com/joeymariano/patchshair' target="_blank">github repo</a></h4>
        <p>Chiptune musicians can sign up, upload instruments and download other people's /
          for sharing ripped or original frequency modulation patches used in deflemask music tracker</p>
        <p>+ deployed to Heroku with a postgres database</p>
        <p>+ used the carrierwave gem and  amazon S3 for file uploads</p>
        <p>+ used nested routes in rails to facilitate organization of urls</p>
        <p>+ used omniauth-twitter gem so users can sign in with twitter</p>
      </blockquote>

      <blockquote>
        <h4><a href="http://transbeautyshop.com" target="_blank">TransBeautyShop.com</a> -
        <a href='https://github.com/joeymariano/transbeautyshop' target="_blank">github repo</a></h4>
        <p>Worked with client to provide them with a responsive, professional site</p>
        <p>+ created with ruby on rails for scalability</p>
        <p>+ configured mailgun service and used the mailform gem to create the contact form</p>
        <p>+ created a customized bootstrap style focusing on readability for older clients</p>
      </blockquote>

      <blockquote>
        <h4><a href="http://nmlstyl.com" target="_blank">nmlstyl.com</a> -
        <a href="https://github.com/joeymariano/nmlstyl-com" target="_blank">github repo</a></h4>
        <p>Splash page for an electronic music project</p>
        <p>+ created with the sinatra framework</p>
        <p>+ postgres database stores email addresses</p>
      </blockquote>

      <blockquote>
        <h4><a href="https://www.youtube.com/watch?v=AMbWPLjxX1I" target="_blank">Pico8 Demo</a> -
        <a href="https://github.com/joeymariano/pico8_demo" target="_blank">github repo</a></h4>
        <p>Pico8 demo combines music programming, pixel art, and coding</p>
        <p>+ uses the lua language</p>
        <p>+ created within the pico8 editor</p>
      </blockquote>

      <blockquote>
        <h4><a href="https://github.com/nmlstyl/top-demos-cli-app" target="_blank">Top Demos Command Line Application</a></h4>
        https://www.youtube.com/watch?v=9-Zl92ORBLI
        <p>Command line tool scrapes information from <a href="http://pouet.net" target="_blank">pouet.net</a> and displays the top demos of the month</p>
        <p>+ uses ruby and the nokogiri gem to scrape pouet.net</p>
      </blockquote>

      <blockquote>
        <h4><a href="http://8staticfest.com" target="_blank">8staticfest.com</a>
        <a href="https://www.youtube.com/watch?v=9-Zl92ORBLI" target="_blank">youtube video</a></h4>
        <p>Created for a philadelphia music festival</p>
        <p>+ assembled designers and extra coders</p>
      </blockquote>

      <blockquote>
        <h4><a href="http://cdm.link/2010/07/chip-style-guitar-pulse-width-arduino-cv-sequencer-you-can-build/" target="_blank">Custom Control Voltage Sequencer</a></h4>
        <p>Modifies the behavior of a boutique guitar pedal</p>
        <p>+ built on the arduino platform</p>
        <p>+ modifies the the pulsewidth of a guitar synthesizer</p>
      </blockquote>
    </div>
  </div>
  <!-- row -->
