<div class="row">
  <div class="col-sm-6"><br></br>
    <%= image_tag("business-card.png", alt: "ms. joey michalina mariano's business card") %><br></br>
  </div>

  <div class="col-sm-6"><br></br>
    <p>Ms. Joey Michalina </p>
    <br>
    <p>Software Development // Music // Art </p>
    <br>
    <p>joey@joeymariano.com </p>
    <br>
    <p>+1 609.558.3211 </p>
  </div>
</div>
