<div class='row'>
  <div class="col-xl-12">
    <%= image_tag("polygons.png", alt: "ms. joey michalina mariano",  class: "img-fluid", id: "front-image") %>
  </div>
  <!-- end col-sm-10 -->
</div>
<!-- end row -->
