<div class='row'>
  <div class="col-sm-12">
    <img class="img-responsive center-block" id="front-image" alt="joeymariano.com ms. joey michalina mariano" src="images/polygons.png">
  </div>
  <!-- end col-sm-10 -->
</div>
<!-- end row -->
