<div class="row">

    <div class="col-sm-6 music-link">
      <h3><span>ELECTRONIC MUSIC</span></h3>
      <br>
        <a href="https://nmlstyl.bandcamp.com/album/nmlstyl-concat" target="_blank">
          <%= image_tag("album_covers/nmlstyl-concat.jpg", class: "img-fluid") %>
        </a>
      <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3807590869/size=small/bgcol=333333/linkcol=ffffff/artwork=none/transparent=true/" seamless><a href="http://nmlstyl.bandcamp.com/album/nmlstyl-concat">nmlstyl.concat by nmlstyl</a></iframe>
      <br><br>
        <a href="https://nmlstyl.bandcamp.com/album/nmlstyl" target="_blank">
          <%= image_tag("album_covers/nmlstyl-self.jpg", class: "img-fluid") %>
        </a>
      <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=806033076/size=small/bgcol=333333/linkcol=ffffff/artwork=none/transparent=true/" seamless><a href="http://nmlstyl.bandcamp.com/album/nmlstyl">NMLSTYL by nmlstyl</a></iframe>
    </div>
    <!-- col-sm-5 -->
    <div class="col-sm-6 music-link">
      <h3><span>GUITAR PLAYING</span></h3>
      <br>
        <a href="https://cheapdinosaurs.bandcamp.com/album/high-strangeness" target="_blank">
          <%= image_tag("album_covers/cheapDinosaurs-highStrangeness.jpg", class: "img-fluid") %>
        </a>
      <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=573622884/size=small/bgcol=333333/linkcol=ffffff/artwork=none/transparent=true/" seamless><a href="http://cheapdinosaurs.bandcamp.com/album/high-strangeness">High Strangeness by Cheap Dinosaurs</a></iframe>
      <br><br>
        <a href="https://8static.bandcamp.com/album/triangle-trash" target="_blank">
          <%= image_tag("album_covers/cheapDinosaurs-triangleTrash.jpg", class: "img-fluid") %>
        </a>
      <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=661979574/size=small/bgcol=333333/linkcol=ffffff/artwork=none/transparent=true/" seamless><a href="http://8static.bandcamp.com/album/triangle-trash">triangle trash by Cheap Dinosaurs</a></iframe>
    </div>
    <!-- col-sm-5 -->

  </div>
  <!-- row -->
