<div class='row'>
  <div class="col-sm-4">
    <a href="docs/joey-mariano-resume.pdf"><img class="img-responsive" src="images/pdf_icon.png"></a>
  </div>
  <!-- col-sm-4 -->
  <div class="col-sm-6">
    <br>
    <blockquote><h4><a href="https://www.linkedin.com/in/joeymariano/">Joey Michalina Mariano | Professional Profile | LinkedIn</a></h4><p>View Joey Michalina Mariano's profile on LinkedIn.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
  </div>
  <!-- col-sm-4 -->

</div>
<!-- row -->
