<div class='row'>

  <div class="col-xl-12">
    <blockquote class="blockquote">
      <h4><a href="https://www.linkedin.com/in/joeymariano/" target="_blank">Joey Michalina Mariano | Professional Profile | LinkedIn</a></h4><p>View Joey Michalina Mariano's profile on LinkedIn.</p></blockquote>
      <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    </blockquote>

    <blockquote class="blockquote last-blockquote">
      <h4><a href="https://docs.google.com/document/d/1MkyOjqTJP_2Dbu4evlK7mdAmumbwF1wUXIYac2mi-n0/edit?usp=sharing" target="_blank">Current Resume</a></h4>
      <a href="https://docs.google.com/document/d/1MkyOjqTJP_2Dbu4evlK7mdAmumbwF1wUXIYac2mi-n0/edit?usp=sharing" target="_blank"><%= image_tag("pdf_icon.png", class: "img-fluid", style: 'width: 225px') %></a>
    </blockquote>
  </div><!-- col -->

</div><!-- row -->
