<div class='row'>

  <div class="col-xl-12">
    <blockquote class="blockquote">
      <h4><a href="https://www.linkedin.com/in/joeymariano/">Joey Michalina Mariano | Professional Profile | LinkedIn</a></h4><p>View Joey Michalina Mariano's profile on LinkedIn.</p></blockquote>
      <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    </blockquote>

    <blockquote class="blockquote last-blockquote">
      <h4><a href="https://docs.google.com/document/d/1p9x_EFpV-j4e4q7lJwNQ8LrBzQFXJ7LTtkxn0STUieU/edit?usp=sharing">Current Resume</a></h4>
      <a href="https://docs.google.com/document/d/1p9x_EFpV-j4e4q7lJwNQ8LrBzQFXJ7LTtkxn0STUieU/edit?usp=sharing"><%= image_tag("pdf_icon.png", class: "img-fluid", style: 'width: 225px') %></a>
    </blockquote>
  </div><!-- col -->

</div><!-- row -->
