/* Extra Small */

@media(max-width:767px) {

  h1 {
    font-size: 2em;
    letter-spacing: .1em;
    line-height: 1em;
  }

  .carousel-inner img {
    margin: auto;
    height: 200px !important;
  }
}

/* Small */

@media(min-width:768px) and (max-width:991px) {
  h1 {
    letter-spacing: .8em;
    line-height: 1.6em;
  }
}

/* Medium */

@media(min-width:992px) and (max-width:1199px) {
  h1 {
    letter-spacing: 1.1em;
    line-height: 1.1em;
  }

}

/* Large */

@media(min-width:1200px) {
  h1 {
    letter-spacing: 1.2em;
    line-height: 1.2em;
  }
}
