// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #title {
    font-size: .6em !important;
  }
  .footer-right {
    text-align: left !important;
  }
  .footer {
    font-size: .85em;
  }
  .footer {
    font-size: .6em
  }
  #biz-card {
    float:left;
  }
  #takeACard {
    text-align: left;
  }
  .carousel-item {
    img {
      width: 85vw !important;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  #title {
    font-size: .8em !important;
  }
  .footer {
    font-size: .7em
  }
  .carousel-item {
    img {
      width: 75vw !important;
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  #title {
    font-size: 1.4em;
  }
  .carousel-item {
    img {
      width: 60vw !important;
    }
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}
