/*//////// LAYOUT STYLE ////////*/

body {
  background-color: #000000;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0;
  color: white;
  font-weight:500;
}

.container{
  margin-top: 10px;
}

ul {
  list-style-type: none;
}

/* unvisited link */

a:link {
  color: #999999;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}

/* visited link */

a:visited {
  color: #999999;
}

/* mouse over link */

a:hover {
  background-color: #666666;
  color: black;
  text-decoration: none;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -ms-transition: all 0s ease;
  -o-transition: all 0s ease;
  transition: all 0s ease;
}

/* selected link */

a:active {
  background-color: #666666;
  color: black;
}

a:link img {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

a:hover img {
  filter: brightness(50%);
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -ms-transition: all 0s ease;
  -o-transition: all 0s ease;
  transition: all 0s ease;
}

a {
  color: grey;
}

.blockquote {
  margin-bottom: 40px;
  padding-left: 20px;
  border-left: 6px solid #ccc;
  h4, a{
      color: red !important;
  }
  h4, a:hover{
      color: black !important;
  }
  h4, a:active{
      color: black !important;
  }
}

/* carousel stuffs */

.carousel-inner{
  img {
  margin: 0 auto;
  height: 384px !important;
  width:auto;
  }
}

.carousel-control-prev, a:visited:hover:active {
  background-color: transparent !important;
}

.carousel-control-next, a:visited:hover:active {
  background-color: transparent !important;
}

h3 span {
  color: #000000;
  background-color: #666666;
}

.carousel-control:hover, .carousel-control:focus {
  color: #333333;
  background: none;
}

.carousel-indicators li {
  visibility: hidden;
}

.carousel-inner {
  a:hover img {
    filter: none;
    border-radius: 4%;
  }
}

.music-link a:hover img {
  filter: none;
  border-radius: 12% 12% 0 0;
}

/* for Navbar */

#title {
  text-align: right;
  letter-spacing: .2em;
  margin-bottom: auto;
}

.navbar {
  padding: 0 !important;
}

.bg-dark {
  background-color: transparent !important;
}

.navbar-dark, .navbar-toggler {
  border-color: #666 !important;
  border-width: medium;
}

#navbarToggleExternalContent {
  margin-top: 20px;
}

//

.blockquote h4{
  color: white !important;
}

/* bio pic */
#bio-pic {
  border-radius: 20em;
}

.bio {
  margin-top: auto;
  margin-bottom: auto;
}

.notice {
  color: red;
}
