/*//////// LAYOUT STYLE ////////*/

body {
  background-color: #000000;
  margin-bottom: 0;
  color: white;
}

.container{
  margin-top: 10px;
}

.col-sm-2 {
  height: 100%;
  color: white;
  padding: 20px 20px 0 20px;
}

.col-sm-10 {
  padding: 20px 20px 0 20px;
}

.col-sm-6 {
  padding: 20px 20px 0 20px;
}

.col-sm-4 {
  padding: 20px 20px 0 20px;
}

ul {
  list-style-type: none;
}

/* unvisited link */

a:link {
  color: #999999;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}

/* visited link */

a:visited {
  color: #999999;
}

/* mouse over link */

a:hover {
  background-color: #666666;
  color: black;
  text-decoration: none;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -ms-transition: all 0s ease;
  -o-transition: all 0s ease;
  transition: all 0s ease;
}

/* selected link */

a:active {
  background-color: #666666;
  color: black;
}

a:link img {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

a:hover img {
  filter: brightness(50%);
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -ms-transition: all 0s ease;
  -o-transition: all 0s ease;
  transition: all 0s ease;
}

a {
  color: grey;
}

.blockquote {
  margin-bottom: 40px;
  padding-left: 20px;
  border-left: 6px solid #ccc;
  h4, a{
      color: red !important;
  }
  h4, a:hover{
      color: black !important;
  }
  h4, a:active{
      color: black !important;
  }
}

.carousel-inner{

  img {
  margin: 0 auto;
  height: 384px !important;
  width:auto;
  }
}

h3 span {
  font-weight: bold;
  color: #000000;
  background-color: #666666;
}

// .carousel-control:hover, .carousel-control:focus {
//   color: #333333;
//   background: none;
// }
//
// .carousel-indicators li {
//   visibility: hidden;
// }
// z
// .carousel-inner a:hover img {
//   filter: none;
//   border-radius: 20%;
// }

.music-link a:hover img {
  filter: none;
  border-radius: 12% 12% 0 0;
}

.btn-link:link {
  color: grey;
    font-weight: bold;
    text-decoration: none;
}

.btn-link:hover {
  color: grey;
  font-weight: bold;
      text-decoration: none;
}

.btn-link:enabled {
  color: grey;
  font-weight: bold;
      text-decoration: none;
}

.btn-link:active {
  color: grey;
  font-weight: bold;
      text-decoration: none;
}

#navpoints{
  float:right;
  text-align: right;
}

#navpoint{
  margin-bottom: -10px;
}

.btn-default, .btn-default:hover, .btn-default:active, .btn-default:visited {
    border: none !important;
    background-color: #666 !important;
    color: black !important;
}

.btn, .btn:hover, .btn:active, .btn:visited {
  border: none !important;
  background-color: #666 !important;
  color: black !important;
}

.dropdown {
  float: left;
}

#title {
  font-size: 1.6em;
  text-align: right;
  letter-spacing: .2em;
}
