<!DOCTYPE html>
<html lang="en">

<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- favicon_link_tag 'favicon.ico' -->

  <meta name="Description" content="Joey Michalina Mariano's art.">
  <title>joeymariano.com</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111131306-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-111131306-1');
  </script>
</head>

<body>
  <div class="container">

    <div class="row">

      <div class="col-xl-12">
          <!-- <div class="dropdown dropright">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class='startButton'>START&nbsp;</div>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-header">PORTFOLIO</a>
                <a class="dropdown-item" href="/code.html">Code</a>
                <a class="dropdown-item" href="/music.html">Music</a>
                <a class="dropdown-item" href="/art.html">Art</a>
              <a class="dropdown-header">INFORMATION</a>
                <a class="dropdown-item" href="/resume.html">Resume</a>
                <a class="dropdown-item" href="/contact.html">Contact</a>
            </div>
          </div> -->


            <nav class="navbar navbar-dark bg-dark">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <h1 id="title">MS. JOEY MICHALINA MARIANO</h1>
            </nav>
            <div class="pos-f-t">
              <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark">
                  <h4 class="text-white">PORTFOLIO</h4>
                    <ul>
                    <li><span class="text-muted"><a href="/code.html">Code</a></span></li>
                    <li><span class="text-muted"><a href="/music.html">Music</a></span></li>
                    <li><span class="text-muted"><a href="/art.html">Art</a></span></li>
                    </ul>
                  <h4 class="text-white">INFORMATION</h4>
                    <ul>
                    <li><span class="text-muted"><a href="/about.html">About</a></span></li>
                    <li><span class="text-muted"><a href="/resume.html">Resume</a></span></li>
                    <li><span class="text-muted"><a href="/contact.html">Contact</a></span></li>
                    </ul>
                </div>
              </div>

          </div>
      </div>

      <!-- <div class="col-lg-4">
            <a href="/">
              <%= image_tag("selfie.jpg", id: "profilePic", alt: "ms. joey michalina mariano", style: "border-radius: 50%;", class: "img-fluid") %>
            </a>
          </div> -->

      </div> <!-- end row -->

    <%= yield %>

</div>
<!-- end container -->
</body>
</html>
