<!DOCTYPE html>
<html lang="en">

<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- favicon_link_tag 'favicon.ico' -->

  <meta name="Description" content="Joey Michalina Mariano's art.">
  <title>joeymariano.com</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111131306-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-111131306-1');
  </script>
</head>

<body>
  <div class="container">

    <div class="row">
      <div class="col-xs-8 col-md-10">
        <h1 id="title">JOEY<br>MICHALINA<br>MARIANO</h1>

        </div>
        <div class="col-xs-4 col-md-2">
          <a href="/">
            <%= image_tag("selfie.jpg", alt: "ms. joey michalina mariano", style: "width: 28em; border-radius: 50%;margin-top: 20px;", class: "img-responsive") %>
          </a>
        </div>
      </div> <!-- end row -->

      <div class='row'>
        <div class='col-lg-12'>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              M E N U &nbsp;
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-header">PORTFOLIO</a>
                <a class="dropdown-item" href="/code.html">Code</a>
                <a class="dropdown-item" href="/music.html">Music</a>
                <a class="dropdown-item" href="/art.html">Art</a>
              <a class="divider"></a>
              <a class="dropdown-header">INFORMATION</a>
                <a href="/resume.html">Resume</a>
                <a href="/contact.html">Contact</a>
            </div>
          </div>
        </div>
      </div>

    <%= yield %>

</div>
<!-- end container -->
</body>
</html>
